<p id="notice"><%= notice %></p>

<h1>Christmasevenings</h1>

<table>
  <thead>
    <tr>
      <th>Jahr</th>
      <th>Geber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @christmasevenings.each do |christmasevening| %>
      <tr>
        <td><%= christmasevening.year %></td>
        <td><%= christmasevening.giver.name %></td>
        <td><%= link_to 'Show', christmasevening %></td>
        <td><%= link_to 'Edit', edit_christmasevening_path(christmasevening) %> </td>
        <td><%= link_to 'Destroy', christmasevening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Christmasevening', new_christmasevening_path %>
